.table-container{
    display: flex;
    justify-content: center;
    
  }
  table{
    border: 2px solid black;
    width: 300px;
    height: auto;
    background-color: #efefef;
  }
  .btn-container{
    display: flex;
    justify-content: center;
  }
  .btn-container button{
    margin: 20px 10px;
    width: 100px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    border-radius: 2px;
    border: none;
    text-align: center;
  }

td{
    border: 1px solid black;
     height: 30px;
     width: 30px;
     text-align: center;
  }
  #sum, #desc{
    text-align: center;
  }